# This file is used to set environment variables for the Next.js application.


# Website URL
NEXT_PUBLIC_SITE_URL=<YOUR_SITE_URL>



# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=<YOUR_SUPABASE_URL>
NEXT_SUPABASE_ANON_KEY=<YOUR_SUPABASE_ANON_KEY>
SUPABASE_SERVICE_ROLE_KEY=<YOUR_SUPABASE_SERVICE_ROLE_KEU>